@using MovieStoreUserUI.Models

@{
    var cartCount = Session["ShoppingCart"] != null ? ((ShoppingCart)Session["ShoppingCart"]).GetOrderLines().Count: 0; 
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Custom.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MovieStore", "Index", "Movie", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Movies", "Index", "Movie")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> @cartCount - Items<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-cart" role="menu">
                            <li>
                                <table class="table">
                                    @if ((ShoppingCart)Session["ShoppingCart"] != null)
                                    {

                                        foreach (var item in ((ShoppingCart)Session["ShoppingCart"]).GetOrderLines())
                                        {
                                            <tr>
                                                <td><img src="@Html.DisplayFor(modelItem => item.Movie.ImageUrl)" class="img-thumbnail" alt="" height="50" width="50" /></td>
                                                <td><text>@Html.DisplayFor(modelItem => item.Movie.Title)</text></td>
                                                <td><text>@Html.DisplayFor(modelItem => item.Amount)</text></td>
                                                <td><a href="/User/Cart/Delete/@item.Movie.Id" class="btn btn-xs btn-danger pull-right" role="button">x</a></td>
                                            </tr>
                                        }

                                    }
                                </table>
                            </li>



                            <li class="divider"></li>
                            <li><a class="text-center"  href="/User/Cart/Index">View Cart</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Created by Andy, Anders, Ievgenii og Rune</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
