@model MovieShopDAL.Orders

@{
    ViewBag.Title = "Details";
    Decimal sub = 0.0M;
    Decimal total = 0.0M;
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <table class="table">
        <tr></tr>

        <tr>
            <td>
                <p>
                    @Html.DisplayFor(model => model.Customer.FirstName)
                    @Html.DisplayFor(model => model.Customer.LastName)
                </p>
                <p>
                    @Html.DisplayFor(model => model.Customer.StreetName)
                    @Html.DisplayFor(model => model.Customer.HouseNumber)
                </p>
                <p>
                    @Html.DisplayFor(model => model.Customer.Zipcode)
                </p>
                <p>
                    @Html.DisplayFor(model => model.Customer.Country)
                </p>
                <p>
                    @Html.DisplayFor(model => model.Customer.Email)
                </p>
            </td>
            <td></td>
            <td>
                <p class="pull-right">
                    @Html.DisplayFor(model => model.OrderTime)
                </p>
            </td>
        </tr>

        @foreach (var elements in Model.ShoppingCartItems)
        {
            <tr>
                @{
                    sub = (elements.Movie.Price * elements.Quantity);
                    total += sub;
                }
                <td>
                    @Html.DisplayFor(model => elements.Movie.Title)
                </td>
                <td>
                    @Html.DisplayNameFor(model => elements.Quantity)
                    &nbsp;
                    @Html.DisplayFor(model => elements.Quantity)
                </td>
                <td>
                    <p class="pull-right">
                        @Html.DisplayNameFor(model => elements.Movie.Price)
                        &nbsp;
                        @sub
                        @*@Html.DisplayFor(model => elements.Movie.Price)*@
                    </p>
                </td>
            </tr>
                    }
        <tr>
            <td></td>
            <td></td>

            <td>
                <p class="pull-right">
                    Total price
                    &nbsp;
                    @total
                </p>
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
