@model MovieStoreUserUI.Models.ShoppingCart

@{
    ViewBag.Title = "Index";
    double total = 0;
}

<h2>Cart</h2>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-left"><b>Item/s</b></p>
                </div>

                <div class="panel-body">
                    <div class="container-fluid item">

                        <div class="row">
                            <table class="table">
                                @foreach (var item in Model.GetOrderLines())
                                {
                                    <tr>
                                        <td>
                                            <img src="@Html.DisplayFor(modelItem => item.Movie.ImageUrl)" class="img-responsive img-thumbnail" alt="" height="50" width="50"  />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Movie.Title)
                                        </td>
                                        <td>
                                            <div class="col-lg-offset-2">@Html.DisplayFor(modelItem => item.Amount)</div>
                                            @if (item.Amount > 1)
                                            {
                                                <div class="col-lg-1">
                                                    <a href="/User/Cart/RemoveAmount/@item.Movie.Id" class="btn btn-block pull-left" role="button">-</a>
                                                </div>
                                            }
                                            <div class=" col-lg-offset-1 col-lg-1">
                                                <a href="/User/Cart/AddAmount/@item.Movie.Id" class="btn btn-block pull-right" role="button">+</a>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Movie.Id })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-left"><b>Order Summary</b></p>
                </div>

                <div class="panel-body">
                    <div class="container">

                        <div class="row">
                            @foreach (var item in Model.GetOrderLines())
                            {
                                <div class="col-md-2 col-lg-6">
                                    <p class="text-left">@Html.DisplayFor(modelItem => item.Movie.Title)</p>
                                </div>
                                <div class="col-md-2 col-lg-6">
                                    <p class="text-right">@item.GetOrdeLineSum().ToString("C")</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-lg-6">
                                <div><p class="text-left"><b>Total</b></p></div>
                            </div>
                            <div class="col-md-2 col-lg-6">
                                <div>
                                    <p class="text-right">@Model.GetTotal().ToString("C")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <a href="/User/Customer/CheckEmail" class="btn btn-success btn-block" role="button">Checkout <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
        </div>
    </div>
</div>
