@model IEnumerable<MovieShopDAL.Movie>

@{
    ViewBag.Title = "FrontPage";
}

<h1></h1>



<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Genre<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              
                <li><a href="@Url.Action("FrontPage")">All</a></li>
                @foreach (var Item in MovieShopDAL.Facade.GetGenreRepository().ReadAll())
                {
                    <li><a href="@Url.Action("FrontPage", new { genre=Item.GenreId})">@Item.ToString()</a></li>
                    
                }
             
            </ul>
        </div>

        <div class="row">
            @for (int i = 0; i < Model.Count(); i++)
            {
                MovieShopDAL.Movie movie = Model.ElementAt(i);

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect" style="height:400px; width:270px; margin:5px">
                        @if (movie.ImageURL != null)
                {
                            <img class="img-responsive" src="@movie.ImageURL" alt="" style="height:400px; width:270px">
                        }
                        else
                        {
                            <img class="img-responsive" src="http://www.ylakeland.com/wp-content/uploads/2013/10/coming-soon.jpg" alt="" style="height:400px">
                        }
                        <div class="overlay">
                            <h2>@movie.Title</h2>
                            <br />

                            @if (movie.TrailerURL != null)
                            {
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#@movie.MovieId">Se trialer</button>
                            }
                            <a class="btn btn-success" href="@Url.Action("Order", "Cart", new { id = movie.MovieId })">Køb her</a>
                            <br />
                            <br />
                            <label style="color:white; font-size: 18px">Kun @movie.Price DKK</label>
                        </div>
                    </div>
                </div>


                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="@movie.MovieId">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">@movie.Title</h4>
                            </div>
                            <div class="modal-body" style="height:400px">
                                <iframe style="border: 0; width: 100%; height: 100%" src="@movie.TrailerURL" frameborder="0" allowfullscreen></iframe>

                            </div>
                        </div>
                    </div>
                </div>


            }
        </div>


