@model IEnumerable<MovieShopDAL.ShoppingCartItem>

@{
    ViewBag.Title = "Index";
    Decimal sub = 0.0M;
    Decimal total = 0.0M;
}

<h2>Shopping Cart</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Price)
        </th>
        <th>
            <label>Sub Total</label>
        </th>
        <th>
            
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-default" href="@Url.Action("Order", "Cart", new { id = item.Movie.MovieId })"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="btn btn-default" href="@Url.Action("DeleteOne", "Cart", new { id = item.Movie.MovieId })"><span class="glyphicon glyphicon-minus"></span></a>
                    
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Price)
            </td>
            <td>
                @{ 
                    sub = (item.Movie.Price * item.Quantity);
                    total += sub;
                }
                @sub
            </td>
            <td>
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Cart", new { id = item.Movie.MovieId })">Delete</a>
                </div>
                
            </td>
        </tr>
    }
    <tr>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
           
        </td>
        <td>
            Total: @total
        </td>
        <td>
        </td>
    </tr>



</table>
<div class="col-md-offset-10 col-md-2">
    <a class="btn btn-success" href="@Url.Action("FindCustomer")">Opret Order</a>
</div>